@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
.swagger-ui {
  color: blue; }

.swagger-ui .opblock-tag {
  background-color: inherit; }

.swagger-ui .opblock-tag {
  font-family: 'Sofia Sans', sans-serif;
  color: blue; }

.swagger-ui .opblock .opblock-summary-operation-id,
.swagger-ui .opblock .opblock-summary-path,
.swagger-ui .opblock .opblock-summary-path__deprecated {
  font-family: 'Sofia Sans', sans-serif;
  color: black; }

#operations-tag-Авторизация {
  background-color: green; }

.copy-to-clipboard {
  background-color: inherit; }
  .copy-to-clipboard svg {
    background-color: inherit; }
